<style>

.nav-container {
	display: flex;
	justify-content: center;
	gap: 1em;
	margin-top: 1em;
}
.btn-nav {
  font-size: 18px;
  padding: 0.5em;
  width: 20%;
  text-align: center;
}

.submit-request-btn:hover i {
    transform: rotate(-10deg);
    transition: transform 0.3s ease;
}

.submit-request-btn:focus i {
    transform: rotate(20deg);
    transition: transform 0.3s ease;
}

@media (max-width: 767px) {
  .btn-nav {
    font-size: 14px;
    width: 40%;
  }
  .nav-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
}
</style>

<div style="width: 80%; min-width: 300px; margin: auto;">
	<div class="nav-container">
	   	{% if request.path != '/' %}
	  	<a href="/" class="btn-primary-outline-light btn-nav" onclick="this.innerHTML='<span class=\'spinner-border spinner-border-sm\' role=\'status\' aria-hidden=\'true\'></span>'; this.classList.add('disabled');">Home</a>
	    {% endif %}
	   	{% if request.path == '/leads' %}
	   	<a href="#" class="btn-primary-fill-light btn-nav disabled">Leads</a>
	    {% else %}
	   	<a href="/leads" class="btn-primary-outline-light btn-nav" onclick="this.innerHTML='<span class=\'spinner-border spinner-border-sm\' role=\'status\' aria-hidden=\'true\'></span>'; this.classList.add('disabled');">Leads</a>
	    {% endif %}
	    {% if request.path == '/jobs' %}
	   	<a href="#" class="btn-primary-fill-light btn-nav disabled">In-Progress</a>
	    {% else %}
	   	<a href="/jobs" class="btn-primary-outline-light btn-nav" onclick="this.innerHTML='<span class=\'spinner-border spinner-border-sm\' role=\'status\' aria-hidden=\'true\'></span>'; this.classList.add('disabled');">In-Progress</a>
		{% endif %}
		{% if request.path == '/queries' %}
	  	<a href="#" class="btn-primary-fill-light btn-nav disabled">Queries</a>
	   	{% else %}
	   	<a href="/queries" class="btn-primary-outline-light btn-nav" onclick="this.innerHTML='<span class=\'spinner-border spinner-border-sm\' role=\'status\' aria-hidden=\'true\'></span>'; this.classList.add('disabled');">Queries</a>
		{% endif %}
	</div>
	<hr>

</div>
{% if request.path != '/' %}
<div style="width: 80%; margin: auto; margin-top: 1em;">
	<form autocomplete="off" id="lead-form" class="text-center" style="width: 80%; margin: auto;">
		<div class="form-group mb-0">
			<input placeholder="What are you looking for?" type="text" class="form-control" id="query" name="query" size="32" style="border-bottom-left-radius: 0px;border-bottom-right-radius: 0px; border: 2px solid #3E8CFF; background-color: #E6F6FF; ">
		</div>
		<button type="submit" class="btn-primary-fill-dark submit-request-btn w-100"  style="border-top-right-radius: 0px;border-top-left-radius: 0px; border-bottom-left-radius: 2000em; border-bottom-right-radius: 2000em; border: 6px solid #3E8CFF;">
			<i class="fa-solid fa-wand-magic-sparkles"></i>
		</button>
	</form>
	<hr>
</div>

<script src="/static/js/socket.js" type="module"></script>
<script type="module" src="/static/js/new_request.js"></script>
{% endif %}
