<style>

	.alternative-query {
		font-weight: bold;
		text-decoration: none;
	}
</style>

<form autocomplete="off" id="lead-form" class="text-center" style="width: 80%; margin: auto;">
	<div class="form-group submit-query-form-group mb-0" style="position: relative;">
	    <textarea placeholder="What are you looking for?" type="text" class="form-control submit-request-form-query-input" id="query" name="query" size="32" rows="1" maxlength="1000"></textarea>
	    <i class="fa-solid fa-gear showAdvancedOptionsBtn" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); color: #2A232E; cursor: pointer;"></i>
	</div>
	<div id="advancedOptionsContainer">
		<label for="advancedOptions" class="mt-2">Generate a new search query:</label>
	    <div style="display: flex;">
			<button id="rewriteQueryBtn" type="button" class="btn btn-primary" style="margin: auto; width: 80%;">
		        <i class="fa-solid fa-lightbulb"></i>
		    </button>
			<i class="fa-solid fa-circle-info  submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Uses your current query text and other options to re-write your query with AI."></i>

		</div>
		<hr style="border-top: 1px solid #3B3141;">
	    <div class="form-group submit-query-form-group">
	        <label for="location">Location: <i class="fa-solid fa-circle-info  submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="The location for the leads you want"></i></label>
	        <input type="text" class="form-control" id="location" name="location" maxlength="250">
	    </div>
	    <div class="form-group submit-query-form-group mt-2">
		    <label for="exampleLeads">Example Leads
		        <i class="fa-solid fa-circle-plus add-example-lead" style="cursor: pointer; margin-right: 16px; margin-left: 4px;"></i>
		        <i class="fa-solid fa-circle-info submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Show us some of what you want more of. These leads will be scanned first and used to guide your crawlers."></i>
		    </label>
		    <div id="exampleLeadsContainer">
		        <div class="input-group mb-2">
		            <input type="text" class="form-control example-lead-input" placeholder="Enter URL" maxlength="250">
		            <button class="btn btn-outline-secondary remove-example-lead" type="button"><i class="fa-solid fa-trash"></i></button>
		        </div>
		    </div>
		</div>
		<hr style="border-top: 1px solid #3B3141;">
		<div class="advancedSettingsCheckContainer">
		    <div class="form-check submit-query-form-check">
		        <input type="checkbox" class="form-check-input" id="autoCheck" name="autoCheck">
		        <label class="form-check-label" for="autoCheck">Auto-Scan <i class="fa-solid fa-circle-info submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Automatically queue new leads and sources to be scanned"></i></label>
		    </div>
		    <div class="form-check submit-query-form-check">
		        <input type="checkbox" class="form-check-input" id="autoHide" name="autoHide" disabled>
		        <label class="form-check-label" for="autoHide">Auto-Hide Invalid <i class="fa-solid fa-circle-info submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Automatically hide invalid leads"></i></label>
		    </div>

		</div>
	    <div class="form-group submit-query-form-group mt-3">
	        <label for="budget">Budget: <i class="fa-solid fa-circle-info submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Max spend for this query"></i></label>
	        <div style="display: flex; align-items: center;">
	            <input type="range" value="0" class="form-range" id="budget" step="100" name="budget" min="0" max="{{ current_user.credits }}" style="flex-grow: 1; margin-right: 10px;" list="budgetMarkers" disabled>
	            <output for="budget" id="budgetOutput" style="font-size: 12px; min-width: 30px;text-wrap: nowrap;">No Budget</output>
	        </div>
	    </div>
		<div class="form-group submit-query-form-group mt-3" >
	        <label for="budget">Search Results to Check: <i class="fa-solid fa-circle-info submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Number of google search results to scan"></i></label>
	        <div style="display: flex; align-items: center;">
	            <input type="range" value="20" class="form-range" id="n_results" step="1" name="n_results" min="1" max="60" style="flex-grow: 1; margin-right: 10px;" list="nResultsMarkers" >
	            <output for="n_results" id="nResultsOutput" style="font-size: 12px; min-width: 30px;text-wrap: nowrap;">20 Results</output>
	        </div>
	    </div>
	    <div class="form-group submit-query-form-group mt-4">
	        <label for="priceEstimate">Price Estimate:</label>
	        <input type="text" class="form-control" id="priceEstimate" name="priceEstimate" readonly value="1000 credits">
	    </div>

		<div style="margin-bottom: 1em;">
			<small style="color: #3B3141; opacity: 0.8; ">All advanced settings are optional</small>
		</div>
	</div>
	<button type="submit" class="btn-primary-fill-dark submit-request-btn w-100"  style="border-top-right-radius: 0px;border-top-left-radius: 0px; border-bottom-left-radius: 2000em; border-bottom-right-radius: 2000em; border: 6px solid #3E8CFF;box-shadow: 1px 3px 11px rgb(0, 0, 0, 0.2); margin-bottom: 1em;">
		<i class="fa-solid fa-wand-magic-sparkles"></i>
	</button>
</form>

<script>
	document.addEventListener('DOMContentLoaded', function() {

		if (!window.is_auth) {
			// disable form elements
			document.querySelectorAll('#lead-form input').forEach(input => input.disabled = true);
			$('#lead-form button').attr('title', 'You must be logged in to use this feature');
		}
	});
</script>
