<form autocomplete="off" id="lead-form" class="text-center" style="width: 80%; margin: auto;">
	<div class="form-group submit-query-form-group mb-0" style="position: relative;">
	    <input placeholder="What are you looking for?" type="text" class="form-control submit-request-form-query-input" id="query" name="query" size="32">
	    <i class="fa-solid fa-gear showAdvancedOptionsBtn" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); color: #2A232E; cursor: pointer;"></i>
	</div>
	<div id="advancedOptionsContainer">
	    <div class="form-group submit-query-form-group">
	        <label for="location">Location: <i class="fa-solid fa-circle-info  submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="The location for the leads you want"></i></label>
	        <input type="text" class="form-control" id="location" name="location">
	    </div>
	    <div class="form-group submit-query-form-group mt-2">
	        <label for="exampleLeads">Example Leads: <i class="fa-solid fa-circle-info submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Show us some of what you want more of"></i></label>
	        <input type="text" class="form-control" id="exampleLeads" name="exampleLeads">
	    </div>
		<hr style="border-top: 1px solid #3B3141;">
		<div class="advancedSettingsCheckContainer">
		    <div class="form-check submit-query-form-check">
		        <input type="checkbox" class="form-check-input" id="autoCheck" name="autoCheck">
		        <label class="form-check-label" for="autoCheck">Auto-Scan <i class="fa-solid fa-circle-info submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Automatically queue new leads and sources to be scanned"></i></label>
		    </div>
		    <div class="form-check submit-query-form-check">
		        <input type="checkbox" class="form-check-input" id="autoHide" name="autoHide" disabled>
		        <label class="form-check-label" for="autoHide">Auto-Hide Invalid <i class="fa-solid fa-circle-info submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Automatically hide invalid leads"></i></label>
		    </div>

		</div>
	    <div class="form-group submit-query-form-group mt-3">
	        <label for="budget">Budget: <i class="fa-solid fa-circle-info submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Max spend for this query"></i></label>
	        <div style="display: flex; align-items: center;">
	            <input type="range" value="0" class="form-range" id="budget" step="100" name="budget" min="0" max="{{ current_user.credits }}" style="flex-grow: 1; margin-right: 10px;" list="budgetMarkers" disabled>
	            <datalist id="budgetMarkers">
	                <option value="0" label="0%"></option>
	                <option value="{{ ((current_user.credits * 0.25) // 100 * 100) | int }}" label="25%"></option>
	                <option value="{{ ((current_user.credits * 0.5) // 100 * 100) | int }}" label="50%"></option>
	                <option value="{{ ((current_user.credits * 0.75) // 100 * 100) | int }}" label="75%"></option>
	                <option value="{{ (current_user.credits // 100 * 100) | int }}" label="100%"></option>
	            </datalist>
	            <output for="budget" id="budgetOutput" style="font-size: 12px; min-width: 30px;text-wrap: nowrap;">No Budget</output>
	        </div>
	    </div>
		<div class="form-group submit-query-form-group mt-3" >
	        <label for="budget">Search Results to Check: <i class="fa-solid fa-circle-info submit-query-tooltip-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Number of google search results to scan"></i></label>
	        <div style="display: flex; align-items: center;">
	            <input type="range" value="10" class="form-range" id="n_results" step="1" name="n_results" min="1" max="50" style="flex-grow: 1; margin-right: 10px;" list="nResultsMarkers" >
	            <datalist id="nResultsMarkers">
	                <option value="1" label="1 result"></option>
	                <option value="10" label="10 results"></option>
	                <option value="20" label="20 results"></option>
	                <option value="30" label="30 results"></option>
	                <option value="40" label="40 results"></option>
	                <option value="50" label="50 results"></option>

	            </datalist>
	            <output for="n_results" id="nResultsOutput" style="font-size: 12px; min-width: 30px;text-wrap: nowrap;">10 Results</output>
	        </div>
	    </div>
	    <div class="form-group submit-query-form-group mt-4">
	        <label for="priceEstimate">Price Estimate:</label>
	        <input type="text" class="form-control" id="priceEstimate" name="priceEstimate" readonly value="950 credits">
	    </div>

		<div style="margin-bottom: 1em;">
			<small style="color: #3B3141; opacity: 0.8; ">All advanced settings are optional</small>
		</div>
	</div>
	<button type="submit" class="btn-primary-fill-dark submit-request-btn w-100"  style="border-top-right-radius: 0px;border-top-left-radius: 0px; border-bottom-left-radius: 2000em; border-bottom-right-radius: 2000em; border: 6px solid #3E8CFF;">
		<i class="fa-solid fa-wand-magic-sparkles"></i>
	</button>
</form>
