.btn-danger-outline-light {
	background-color: transparent;
	border: 2px solid #FF6161;
	color: #2A232E;
	line-height: 1;
	padding: 0.25em;
	border-radius: 0.25em;
	transition: background-color 0.3s;
}

.btn-danger-outline-light:hover {
	background-color: rbga(255, 97, 97, 0.2);
}

.btn-danger-outline-dark {
	background-color: transparent;
	border: 2px solid #FF6161;
	color: #E6F6FF;
	line-height: 1;
	padding: 0.25em;
	border-radius: 0.25em;
	transition: background-color 0.3s;
}

.btn-danger-outline-dark:hover {
	background-color: rbga(255, 97, 97, 0.2);
}

.btn-danger-fill-light {
	background-color: #FF6161;
	border: 2px solid #FF6161;
	line-height: 1;
	padding: 0.25em;
	border-radius: 0.25em;
	transition: background-color 0.3s;
}

.btn-danger-fill-light:hover {
	background-color: #C54949;
}


.btn-primary-fill-light {
	background-color: #3E8CFF;
	border: 2px solid #3E8CFF;
	color: #E6F6FF;
	line-height: 1;
	padding: 0.25em;
	border-radius: 0.25em;
	transition: background-color 0.3s;
}

.btn-primary-fill-light:hover {
	background-color: #387EE4;
}

.btn-primary-outline-light {
	background-color: transparent;
	border: 2px solid #3E8CFF;
	color: #2A232E;
	line-height: 1;
	padding: 0.25em;
	border-radius: 0.25em;
}

.btn-primary-outline-light:hover {
	background-color: rbga(62, 140, 255, 0.2);
}

.btn-primary-fill-dark {
	background-color: #3E8CFF;
	border: 2px solid #3E8CFF;
	color: #E6F6FF;
	line-height: 1;
	padding: 0.25em;
	border-radius: 0.25em;
}

.btn-primary-fill-dark:hover {
	background-color: #387EE4;
}

.btn-primary-outline-dark {
	background-color: transparent;
	border: 2px solid #3E8CFF;
	color: #E6F6FF;
	line-height: 1;
	padding: 0.25em;
	border-radius: 0.25em;
}

.btn-primary-outline-dark:hover {
	background-color: rbga(62, 140, 255, 0.2);
}

.btn-secondary-fill-light {
	background-color: #FCFF61;
	border: 2px solid #FCFF61;
	color: #2A232E;
	line-height: 1;
	padding: 0.25em;
	border-radius: 0.25em;
}

.btn-secondary-fill-light:hover {
	background-color: #D4D740;
}

.btn-secondary-outline-light {
	background-color: transparent;
	border: 2px solid #FCFF61;
	color: #2A232E;
}

.btn-secondary-fill-dark {
	background-color: #FCFF61;
	border: 2px solid #FCFF61;
	color: #2A232E;
}

.btn-secondary-outline-dark {
	background-color: transparent;
	border: 2px solid #FCFF61;
	color: #E6F6FF;
}

.link-primary-heavy-light {
	color: #1F4F94;
	font-weight: bold;
}

.link-primary-heavy-dark {
	color: #FCFF61;
}

.link-primary-light-light {
	color: #1F4F94;
	text-decoration: underline;
}

.link-primary-light-dark {
	color: #FCFF61;
	text-decoration: underline;
}

.link-secondary-light-light {
	color: #473D4C;
	text-decoration: underline;
}

.link-secondary-light-dark {
	color: #E6F6FF;
}

.link-secondary-heavy-dark {
	color: #E6F6FF;
	font-weight: bold;
}
.link-secondary-heavy-light {
	color: #2A232E;
	font-weight: bold;

}
