@font-face {
    font-family: Roboto;
    src: url('/static/fonts/Roboto-Regular.ttf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('/static/fonts/Roboto-Bold.ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: OldLondon;
    src: url('/static/fonts/Mom_type.ttf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: TBF;
    src: url('/static/fonts/tbf.ttf');
    font-weight: 500;
    font-display: swap;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #E6F6FF !important;

}

div, p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #000;
}

label {
	margin-bottom: 0px;
}

small {
	margin-top: 0px !important;
}



.fa-icon {
    pointer-events: none;
    font-size: 22px;
}

.socket-btn {
    cursor: pointer;
    transition: opacity: 0.3s;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-primary {
	background-color: #3E8CFF;
	border-color: #3E8CFF;
}

.btn-secondary {
	background-color: transparent;
	border-color: #6c757d;
	color: #000;
}

.btn-tertiary {
	background-color: #264CD1;
	border-color: #264CD1;
	color: #fff;
}

.btn-tertiary:hover {
	background-color: #1a3a9a;
	border-color: #1a3a9a;
	color: #fff;
}

/* Table container */
.table-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 600px;
    min-height: 600px;
    overflow-y: scroll;
}

#requests-table {
	min-height: 300px;
	max-height: 300px;
}

.table-body-container {
    flex-grow: 1;
}

/* Table rows */
.table-row {
    display: flex;
    border-bottom: 1px solid #ddd;
    width: 100%;
    justify-content: space-between;
    gap: 1em;

    transition: background-color 0.3s;
}

.table-row:last-child {
    border-bottom: none;
}

/* Table header */
.table-header {
    font-weight: bold;
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-cell {
    white-space: normal !important;
    vertical-align: middle !important;
    margin: auto 0;
    background-color: #f8f9fa;
    border-top: none;
}

/* Table cells */
.table-cell {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-cell:last-child {
    text-align: right;
    margin-right: 1em;
}

/* Specific cell styles */
.table-cell[data-field="description"] {
    max-width: 300px;
}

.table-cell[data-field="description"] div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-cell[data-field="contact"] {
    flex-direction: column;
}

.table-cell[data-field="name"],
.table-cell[data-field="user_query"],
.table-cell[data-field="reformatted_query"] {
    justify-content: flex-start;
}



.table-cell[data-field="checked"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Expanded row styles */
.table-row.expanded .table-cell div {
    height: auto;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
}

.table-row.expanded .table-cell div.quality-bar-container {
    height: 50px;
}

/* Spinner */
.spinner-border {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}

/* Styles for name and URL containers */
.table-cell[data-field="name"] > div {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

/* Styles for name span and URL link */
.table-cell[data-field="name"] span,
.table-cell[data-field="name"] a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-cell[data-field="name"] span,
.table-cell[data-field="name"] a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-row.expanded .table-cell[data-field="name"] span,
.table-row.expanded .table-cell[data-field="name"] a {
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
    word-break: break-word;
    hyphens: none;
}

.table-row .table-cell[data-field="reformatted_query"],
.table-row .table-cell[data-field="user_query"] {
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
    word-break: break-word;
    hyphens: none;
    padding: 4px 16px;
}

.table-row .table-cell[data-field="user_query"] {
    padding-top: 16px;
}



/* Ensure description cell doesn't grow to accommodate overflow */
.table-cell[data-field="description"] {
    flex-grow: 0;
    flex-shrink: 0;
}

.invalid-table-row {
	background-color: #ff000038;
}

.contactable-table-row {
	background-color: #00800042;
}

.lead-name {
	max-width: 150px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.1;
	margin-bottom: 0.25em;
}

.source-name {
	max-width: 150px; overflow-wrap: break-word; word-wrap: break-word;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.1;
	margin-bottom: 0.25em;
}

.valid-table-row {
	background-color: #00800026;
}

.unchecked-table-row {
	background-color: #0000001f;
}

.checking-table-row {
	background-color: #ffff0038;
}

.loading-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
}


.select-all-container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.table-search-input {

	margin-top: auto;
	margin-bottom: 12px;
}

.select-all-container label {
    margin-right: 12px;
}

.dropdown {
    margin-left: 12px;
}

.table-row-selected {
	border: 2px solid #4CAF50;
	border-bottom: none;
}

.table-row-selected:last-child {
	border-bottom: 2px solid #4CAF50;
}


.selected-count {
    margin-right: 12px;
    font-weight: bold;
}

.select-all-checkbox {
	margin-right: 5px;
}

.table-search-input {
	height: fit-content;
}


.card-text-name {
	font-weight: bold;
	font-size: 1.5em;
}


.swal2-input {
	margin-top: 0.25em;
}


#swal2-html-container {
	padding-top: 0px;
}


.quality-bar-container {
    width: 10px;
    height: 50px;
    background-color: #E6F6FF;
    position: relative;
    border-radius: 1em;
}

.quality-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 1em;
    align-self: flex-end;
    width: 100%;
}


.actions-container {
	display: flex;
	width: 100%;
}

.hide-lead-btn, .hide-source-btn, .hide-request-btn {
	margin-left: auto;
	width: 50%;
}

.liked-lead-btn, .check-lead-btn, .cell-spinner-container, .check-source-btn {
	width: 50%;
	margin-right: auto;
}

.table-row.expanded .description-text {
	overflow: show;
	text-overflow: clip;
	white-space: normal;
}

.table-row.expanded .name-url {
	overflow: show;
	text-overflow: clip;
	white-space: normal;
}

.table-row.expanded .link-below-name {
	overflow: show;
	text-overflow: clip;
	white-space: normal;
}

.description-text {
	font-size: 12px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.link-below-name {
	font-size: 12px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.name-url {

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-row.expanded .mobile-url-text {
	overflow: show;
	text-overflow: clip;
	white-space: normal;
}

.mobile-url-text {
	font-size: 12px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.actions-container > div:nth-child(2) {
  border-left: 1px solid #12376B;
}

.nav-dropdown-menu {
	padding: 0em;
	font-weight: bold;
}


@media (max-width: 768px) {

	.nav-dropdown-menu {
		padding: 1em;
	}
  .table-container {
    display: block;
  }

  .table-row {
    display: block;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 8px 2px 4px 0px rgba(0, 0, 0, 0.2);
  }

  .table-row-selected {
	border: 2px solid #3E8CFF;
  }

  .table-cell {
    display: block;
    text-align: left !important;
    padding: 5px;
  }

  .actions-container {
    border-top: 1px solid #12376B;
    padding-top: 1em;
    gap: 0em;
  }

  .action-child-border-left {
  	border-left: 1px solid #12376B;
  }

  .table-container {
    border: unset;
  }

  .select-all-container {
    flex-direction: column;
    text-align: right;
  }

  .select-all-container label {
	margin-right: 0;
	margin-bottom: 12px;
  }

  .table-cell[data-field="name"] {
  	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  .table-cell[data-field="description"] {
  	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }

  .navbar-brand {
	margin-left: 0;
	margin-right: 0px;
  }

  .table-cell[data-field="description"] {
      max-width: unset;
  }

  .lead-name {
    	max-width: 250px;
	   	overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-bottom: 0;
  }

  .lead-name div {
		text-overflow: ellipsis;
  }

  .source-name {
	max-width: 250px;
	text-overflow: ellipsis;
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.1;
	margin-bottom: 0.25em;
  }
}

.cell-spinner-container {
	width: 50%;
	height: 30px;
	display: flex;
}

.cell-spinner {
	height: 80%;
	max-height: 30px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;

}
