{% extends "email/email_base.html" %}
{% block title %}New Response to Your Support Chat{% endblock %}
{% block content %}
<h1 style="font-size: 24px; text-align: center;">New Support Chat Response</h1>
<p>Hello,</p>
<p>Someone has responded to your support chat on aiLEADS.</p>
<p>Please click the button below to view the response:</p>
<a href="https://ai-leads.xyz" class="button">View Chat</a>
<p>If you have any further questions, feel free to reply in the chat. We're here to help you.</p>
{% endblock %}
