{% extends "base.html" %}

{% block content %}
<h1>Admin Panel</h1>
<ul>
    <li><a href="{{ url_for('main.admin_credit_ledger') }}">Credit Ledger Entries</a></li>
    <li><a href="{{ url_for('main.admin_users') }}">User List</a></li>
    <li><a href="{{ url_for('main.admin_journeys') }}">Journey List</a></li>
    <li><a href="{{ url_for('main.admin_logged_in_journeys') }}">Journey List (logged in)</a></li>
    <li><a href="{{ url_for('main.admin_clear_jobs') }}">Finish all jobs</a></li>
    <li><a href="{{ url_for('main.admin_queries') }}">View All Queries</a></li>
    <li><a href="{{ url_for('main.admin_sources') }}">View All Sources</a></li>
    <li><a href="{{ url_for('main.admin_leads') }}">View All Leads</a></li>
    <li><a href="{{ url_for('main.admin_chats') }}">Admin Chat Panel</a></li>
</ul>
{% endblock %}
