{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/home.css">

<div class="hero-section">
    <div class="hero-content">
        <p class="hero-subtitle top-subtitle">Convert <b>Queries</b> to <b>Leads</b> in minutes</p>
        <h1 class="hero-title"><span style="font-family: monospace;">@i</span><b>Leads</b></h1>
        {% if current_user.is_authenticated %}
        <h1 class="text-center">Enter a query</h1>
		<form id="lead-form" class="text-center" style="width: 80%; margin: auto;">
			<div class="form-group mb-0">
				<input type="text" class="form-control" id="query" name="query" size="32" style="border-bottom-left-radius: 0px;border-bottom-right-radius: 0px">
			</div>
			<button type="submit" class="btn-primary-fill-dark submit-request-btn w-100"  style="border-top-right-radius: 0px;border-top-left-radius: 0px;"><i class="fa-solid fa-wand-magic-sparkles"></i></button>
		</form>
        {% else %}
        <a href="/register" class="btn btn-primary hero-btn">Start Getting Leads</a>
        {% endif %}
    </div>
</div>

{% if current_user.is_authenticated %}
<div style="margin: auto; width: 50%;">
	<button style="border-width: 8px; border-radius: 4em; width: 100%; font-size: 32px; font-weight: bold; text-decoration: none;" class="btn-primary-outline-light" href="/leads">My Leads</button>
</div>
{% endif %}

<div class="sub-hero-section">
    <div class="container">
        <div class="sub-hero-content">
		    <p class="sub-hero-line">Stop <b>searching</b>. Let us handle that.</p>
		    <p class="sub-hero-line sub-hero-line-2">Give us a <b>query</b>, we'll give you <b>potential customers</b>.</p>
        </div>
    </div>
</div>

<div class="features-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 feature-container">
                <div class="feature-card">
                    <i class="feature-icon fas fa-search"></i>
                    <h3 class="feature-title">Fresh Data</h3>
                    <p class="feature-description">
                    	Our leads are pulled from the live internet. Waste <i>less</i> time with <i>stale leads</i> and spend <b>more time selling</b>.
                    </p>
                </div>
            </div>
            <div class="col-md-4 feature-container">
                <div class="feature-card">
                    <i class="feature-icon fa-solid fa-mug-hot"></i>
                    <h3 class="feature-title">Async Processing</h3>
                    <p class="feature-description">
                    	Queue up some crawlers and go grab a coffee. We’ll send your leads over the minute they’re ready.
                    </p>
                </div>
            </div>
            <div class="col-md-4 feature-container">
                <div class="feature-card">
                    <i class="feature-icon fa-solid fa-robot"></i>
                    <h3 class="feature-title">AI Crawlers</h3>
                    <p class="feature-description">
                   		We use AI to identify relevant customers for your business based on your descriptions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cta-section">
    <div class="container">
        <div class="cta-content">
        	{% if not current_user.is_authenticated %}
            <h2 class="cta-title">Ready to convert your queries into leads?</h2>
            <p class="cta-description">For a limited time, new users get their first <b>2,000 credits</b> for $<b>1.00</b>!</p>
            <a href="#" class="btn btn-primary cta-btn">Start getting leads</a>
            {% else %}
            <h2 class="cta-title">What are you doing down here??</h2>
            <p class="cta-description">Enough procrastinating. Get back to selling!!</p>
            <a href="/leads" class="btn btn-primary cta-btn">Get more leads</a>
            {% endif %}
        </div>
    </div>
</div>

{% if current_user.is_authenticated %}
<script src="/static/js/socket.js" type="module"></script>
<script src="/static/js/home_script_v4.js?last_updated={{ last_updated }}" type="module"></script>
{% endif %}

{% endblock %}
