{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/home.css">

<div class="hero-section">
    <div class="hero-content">
	    <p class="hero-subtitle top-subtitle">
	        <b>
			<span id="hero-dynamic-text-container" class="hero-dynamic-text">AI-Augmented</span>
	        B2B Lead Generation
			</b>
	    </p>
        <h1 class="hero-title {% if current_user.is_authenticated %}auth-hero-title{% endif %}">
        	<span style="font-family: monospace;">ai</span><b>Leads</b>
         	{% if not current_user.is_authenticated %}
			<div style="margin-bottom: 0em;">
	        	<a href="/register" class="btn btn-primary hero-btn">Start Getting Leads</a>
	        </div>
			{% endif %}
        </h1>
        {% if current_user.is_authenticated %}
		{% include "subtemplates/_submit_query_form.html" %}
        {% endif %}
    </div>
</div>

{% if current_user.is_authenticated %}
{% include "subtemplates/_sub_navbar.html" %}
{% endif %}

<div class="badgeBox">
	<a href="https://theresanaiforthat.com/ai/aileads/?ref=featured&v=2217848" target="_blank" rel="nofollow"><img width="300" src="https://media.theresanaiforthat.com/featured-on-taaft.png?width=600"></a>
	<a href='https://affordhunt.com' ><img style="height: 65px;" src='https://svgshare.com/i/11o5.svg' title='Spotlight By AffordHunt' /></a>

</div>

<div class="sub-hero-section">
    <div class="container">
        <div class="sub-hero-content">
		    <p class="sub-hero-line">Stop <b>searching</b>. Let us handle that.</p>
		    <p class="sub-hero-line sub-hero-line-2">Tell us what you need, we'll give you <b>potential B2B customers</b>.</p>
        </div>
    </div>
</div>

<div class="video-section">
    <div class="container">
        <div class="video-wrapper text-center">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/eLHO3tgnhJc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="features-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 feature-container">
                <div class="feature-card">
                    <i class="feature-icon fas fa-search"></i>
                    <h3 class="feature-title">Fresh Data</h3>
                    <p class="feature-description">
                    	Our leads are pulled from the internet. Don't waste time with <i>stale leads</i>. <b>Spend time selling</b>.
                    </p>
                </div>
            </div>
            <div class="col-md-4 feature-container">
                <div class="feature-card">
                    <i class="feature-icon fa-solid fa-door-open"></i>
                    <h3 class="feature-title">Easy On-Boarding</h3>
                    <p class="feature-description">
                   		Get started in minutes. No need to learn a new tool. <b>Just tell us what you need</b>.
                    </p>
                </div>
            </div>
            <div class="col-md-4 feature-container">
                <div class="feature-card">
                    <i class="feature-icon fa-solid fa-circle-dollar-to-slot"></i>
                    <h3 class="feature-title">Usage-based</h3>
                    <p class="feature-description">
                    	Buy as many credits as you need. No monthly fees. No contracts. <b>Pay as you go</b>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cta-section">
    <div class="container">
        <div class="cta-content">
        	{% if not current_user.is_authenticated %}
            <h2 class="cta-title">Ready to convert your queries into leads?</h2>
            <p class="cta-description">For a limited time, new users get their first <b>2,000 credits</b> for $<b>1.00</b>!</p>
            <a href="/store" class="btn btn-primary cta-btn">Start getting leads</a>
            {% else %}
            <h2 class="cta-title">What are you doing down here??</h2>
            <p class="cta-description">Enough procrastinating. Get back to selling!!</p>
            <a href="/store" class="btn btn-primary cta-btn">Get more leads</a>
            {% endif %}
        </div>
    </div>
</div>

{% if current_user.is_authenticated %}
<script src="/static/js/socket.js" type="module"></script>
<script type="module" src="/static/js/new_request.js"></script>
<script src="/static/js/home_script_v4.js?last_updated={{ last_updated }}" type="module"></script>
{% endif %}

{% endblock %}
