{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="w-50">
        <h1 class="text-center">Register</h1>
        <form method="POST" action="{{ url_for('main.register') }}">
            <div class="form-group">
                <label for="email">Email:</label>
                {% if email %}
                <input type="text" class="form-control" id="email" name="email" value="{{ email }}">
                {% else %}
                <input type="text" class="form-control" id="email" name="email">
                {% endif %}
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="password">Retype Password:</label>
                <input type="password" class="form-control" id="password2" name="password2">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
		{% if next %}
        <p class="text-center mt-3">Already have an account? <a href="{{ url_for('main.login', next=next) }}">Login here</a></p>
		{% else %}
        <p class="text-center mt-3">Already have an account? <a href="{{ url_for('main.login') }}">Login here</a></p>
		{% endif %}
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var emailInput = document.getElementById('email');
    var passwordInput = document.getElementById('password');

    if (emailInput.value) {
        passwordInput.focus();
    } else {
    	emailInput.focus();
    }
});
</script>
{% endblock %}
