{% extends "base.html" %}
{% block content %}

<script>
window.current_user_email = "{{ current_user.email }}";
</script>
<div class="container mt-5">
    {% if not current_user.email_verified %}
    <div class="alert alert-warning" role="alert">
		Your email address has not been verified. Please check your email for a verification link.
    </div>
    <button id="resend-verification-email" class="btn btn-tertiary" style="width: 100%; margin-bottom: 3em;">Resend Verification Email</button>
    {% endif %}
    <h2>Settings</h2>
    <form id="settings-email-form" style="margin-top: 2em;">
	    <div class="form-group mb-3">
	        <label for="email">Email</label>
	        <small class="form-text text-muted">Email address associated with your account.</small>
	        <div style="display: flex; gap: 2em;">
				<input class="form-control" id="email" name="email" value="{{ current_user.email }}">
		        <div id="email-feedback" style="font-size: 24px;">
		            <span id="email-spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
		            <span id="email-success" class="d-none">&#x2714;</span> <!-- Checkmark icon -->
		            <span id="email-error" class="d-none">&#x2716;</span> <!-- Cross icon -->
		        </div>
			</div>
	    </div>
		<button type="submit" class="btn btn-primary">Save changes</button>
    </form>
    <hr>

    <h4>Account Settings</h4>
    <div class="mt-4" style="display: flex; gap: 1em;">
        {% if not current_user.email_verified %}
        <button id="resend-verification-email" class="btn btn-secondary" style="width: 50%;">Resend Verification Email</button>
        {% endif %}
        <button id="resend-password-reset-email" class="btn btn-secondary" style="width: 50%;">Reset Password</button>
    </div>
    <hr>
    <form id="settings-form" style="margin-top: 2em;">
    	<h4>Run Settings</h4>
        <div class="form-group mb-3">
            <label for="industry">Organization Type</label>
            <small class="form-text text-muted">What type of organization are you looking for?</small>
            <input class="form-control" id="industry" name="industry" value="{{ current_user.industry }}">
        </div>
        <div class="form-group mb-3">
            <label for="preferred_org_size">Preferred Organization Size</label>
            <small class="form-text text-muted">What size organization are you looking for?</small>
            <input class="form-control" id="preferred_org_size" name="preferred_org_size" value="{{ current_user.preferred_org_size }}">
        </div>
        <div class="form-group mb-3">
            <label for="user-description">Description</label>
            <small class="form-text text-muted">Tell the bot more about you and the type of organization you're looking for.</small>
            <textarea class="form-control" id="user-description" name="user_description" rows="3" maxlength="2000">{{ current_user.user_description }}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="search-model-preference">Search Model</label>
            <select class="form-select" id="search-model-preference" name="search_model_preference">
                <option value="gpt-4o" {{ 'selected' if current_user.search_model_preference == 'gpt-4o' else '' }}>gpt-4o</option>
                <option value="gpt-4o-mini" {{ 'selected' if current_user.search_model_preference == 'gpt-4o-mini' else '' }}>gpt-4o-mini</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="source-collection-model-preference">Source Collection Model</label>
            <select class="form-select" id="source-collection-model-preference" name="source_collection_model_preference">
                <option value="gpt-4o" {{ 'selected' if current_user.source_collection_model_preference == 'gpt-4o' else '' }}>gpt-4o</option>
                <option value="gpt-4o-mini" {{ 'selected' if current_user.source_collection_model_preference == 'gpt-4o-mini' else '' }}>gpt-4o-mini</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="lead-validation-model-preference">Lead Validation Model</label>
            <select class="form-select" id="lead-validation-model-preference" name="lead_validation_model_preference">
                <option value="gpt-4o" {{ 'selected' if current_user.lead_validation_model_preference == 'gpt-4o' else '' }}>gpt-4o</option>
                <option value="gpt-4o-mini" {{ 'selected' if current_user.lead_validation_model_preference == 'gpt-4o-mini' else '' }}>gpt-4o-mini</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>
<script src="/static/js/settings_script.js"></script>
{% endblock %}
