{% extends "base.html" %}
{% block content %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    setupPreferences();
  });

  async function setupPreferences() {
    const { value: industry } = await Swal.fire({
      title: 'Step 1',
      html: `
      	<div style="font-size:small;">Help the bot get to know you.</div>
      	<hr>
        <div style="display: flex; flex-direction: column;">
        <label style="font-size:medium;" for="industry-input">What do you do?</label>
        <input type="text" id="industry-input" class="swal2-input" placeholder="We sell shoes to runners" />
        </div>
        <br><br>
        <div style="display: flex; flex-direction: column;">
        <label style="font-size:medium;" for="org-size-input">What size businesses are you looking for?</label>
        <input type="text" id="org-size-input" class="swal2-input" placeholder="Example: 50-100 people" />
        </div>
        <br>
      	<div style="font-size:small;">You can update this later, don't worry.</div>
      `,
      confirmButtonText: 'Next',
      focusConfirm: false,
      preConfirm: () => {
        return {
          industry: document.getElementById('industry-input').value,
          orgSize: document.getElementById('org-size-input').value
        }
      }
    });

    if (industry) {
      const { value: description } = await Swal.fire({
        title: 'Step 2',
        input: 'textarea',
        inputLabel: `Describe what type of business you're looking for`,
        inputPlaceholder: 'Enter description here',
        inputAttributes: {
          'aria-label': 'Type your description here'
        },
        showCancelButton: true,
        reverseButtons: true,
        confirmButtonText: 'Save',
      });

      if (description) {
        const formValues = {
          ...industry,
          description: description
        };
        const response = await fetch('/save_preferences', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formValues)
        });

        if (response.ok) {
          await Swal.fire('Success', 'Preferences saved successfully!', 'success');
          window.location.href = '/'; // Redirect to home or wherever
        } else {
          await Swal.fire('Error', 'There was an error saving your preferences. Please try again.', 'error');
        }
      }
    }
  }
</script>
{% endblock %}
