{% extends "base.html" %}
{% block content %}
<script>
	window.next_page = "{{ next }}";

  document.addEventListener('DOMContentLoaded', function() {
    setupPreferences();
  });

  async function setupPreferences() {
    const { value: industry } = await Swal.fire({
      title: 'Step 1',
      html: 'Help the bot get to know you. ',
      input: 'textarea',
      inputLabel: 'What does your business sell?',
      inputPlaceholder: 'We sell a SaaS product that makes logistics easier for office cleaning and supply companies',
      confirmButtonText: 'Next',
      focusConfirm: false,
      preConfirm: (value) => {
        return {
          industry: value
        }
      }
    });

    if (industry) {
      const { value: description } = await Swal.fire({
        title: 'Step 2',
        input: 'textarea',
        html: 'Help the bot get to know you.',
        inputLabel: `Describe the customer you're looking for`,
        inputPlaceholder: 'Enter description here',
        inputAttributes: {
          'aria-label': 'Type your description here'
        },
        showCancelButton: true,
        reverseButtons: true,
        confirmButtonText: 'Save',
      });

      if (description) {
        const formValues = {
          ...industry,
          description: description
        };
        const response = await fetch('/save_preferences', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formValues)
        });

        if (response.ok) {
          await Swal.fire('Success', 'Preferences saved successfully!', 'success');
          if (window.next_page) {
          	window.location.href = window.next_page;
          } else {
          	window.location.href = '/'; // Redirect to home or wherever

          }


        } else {
          await Swal.fire('Error', 'There was an error saving your preferences. Please try again.', 'error');
        }
      }
    }
  }
</script>
{% endblock %}
