{% extends "base.html" %}
{% block content %}
{% include "subtemplates/_sub_navbar.html" %}
<div class="container mt-5">
    <div class="storeBtns-container">
        <div class="store-container">
            <div>
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 40%">
                    <h1>Store</h1>
                    <hr style="margin-top: 1em; margin-bottom:1em; color: #387EE3; opacity: 1;width: 100%;">
                    <div id="credit-balance">
                        Balance: <span class="credit-balance-text">{{ '{:,.0f}'.format(current_user.credits or 0) }}</span>
                    </div>
                    <hr style="margin-top: 1em; margin-bottom:1em; color: #387EE3; opacity: 1;width: 100%;">
                    <div style="display: grid; row-gap: 1em; ">
                    	{% if current_user.is_authenticated %}
	                    	{% if not current_user.claimed_signup_bonus %}
	                        	<button class="btn-primary-fill-light" id="buy-2000-credits" data-credit-amount="2000" onclick="purchaseCredits(this, true)"><span style="font-weight: bold;">New Users!<br></span>Get 2,000 credits for $1!</button>
								<hr style="margin-top: 0; margin-bottom:1em; color: #387EE3; opacity: 1;width: 100%;">
	                        {% endif %}
	                        <button class="btn-primary-fill-light" id="buy-5000-credits" data-credit-amount="5000" onclick="purchaseCredits(this)">Buy 5,000 credits for $5</button>
	                        <button class="btn-primary-fill-light" id="buy-10000-credits" data-credit-amount="10000" onclick="purchaseCredits(this)">Buy 10,000 credits for $10</button>
	                        <button class="btn-primary-fill-light" id="buy-20000-credits" data-credit-amount="20000" onclick="purchaseCredits(this)">Buy 20,000 credits for $20</button>
	                        <button class="btn-primary-fill-light" id="buy-50000-credits" data-credit-amount="50000" onclick="purchaseCredits(this)">Buy 50,000 credits for $50</button>
                        {% else %}
                        	<a style="text-align: center; line-height: 1.2;" href="/register" class="btn-primary-fill-light" disabled><span style="font-weight: bold; font-size: 24px">Sign-up now!<br></span>New Users Get 2,000 credits for $1!</a>
							<hr style="margin-top: 0; margin-bottom:1em; color: #387EE3; opacity: 1;width: 100%;">
	                        <button class="btn-primary-fill-light" disabled>Buy 5,000 credits for $5</button>
	                        <button class="btn-primary-fill-light" disabled>Buy 10,000 credits for $10</button>
	                        <button class="btn-primary-fill-light" disabled>Buy 20,000 credits for $20</button>
	                        <button class="btn-primary-fill-light" disabled>Buy 50,000 credits for $50</button>
						{% endif %}
                    </div>
                    {% if not current_user.claimed_signup_bonus or not current_user.is_authenticated %}
	                <hr style="margin-top: 2em; margin-bottom:1em; color: #387EE3; opacity: 1;width: 100%;">
					{% else %}
	                <hr style="margin-top: 1em; margin-bottom:1em; color: #387EE3; opacity: 1;width: 100%;">
					{% endif %}
					{% if current_user.is_authenticated %}
	                <a href="/settings">
	                    Back to Settings
	                </a>
	                {% else %}
	                <a href="/">
	                    Back to Home
	                </a>
	                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .store-container {
        background-color: #C2D0D8;
        margin: 4em auto 0 auto;
        padding: 2em;
        border-radius: 2em 2em 2em 2em;
    }

    .storeBtns-container {
        width: fit-content;
        margin: 2em auto;
    }

    .credit-balance-text {
        font-weight: bold;
        color: #1F4F94;
    }

    .btn-primary-fill-light {
        padding: 12px 24px;
    }

    .btn-buy {
        background-color: #635BFF;
        color: white;
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        line-height: 1.5;
        text-transform: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 200ms;
    }

    .btn-buy:hover {
        background-color: #5248e5;
    }

    .btn-buy:disabled {
        background-color: #9f99ff;
    }

    .store-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3em;
        max-width: 600px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    }

    #credit-balance {
        background-color: var(--theme_bg_color);
        border-radius: 2em;
        padding: 0.5em;
        font-size: 18px;
    }
</style>
<script src="https://js.stripe.com/v3/"></script>
<script>
{% if FLASK_ENV == 'prod' %}
window.STRIPE_PUBLIC_KEY = 'pk_live_51PrB8cHRt8rs1Ff78BLpRIHIUqIkklvlORB269PWRK99UfgJTCxcGJDDW2b8ZuUs1o7d37yHwyT487DQT7bHwQzw006qvm9OAp';
{% else %}
window.STRIPE_PUBLIC_KEY = 'pk_test_51PrB8cHRt8rs1Ff75n4expSaytxBfxLSU021ESGcP7RiMwstYb1vLexFvVoXorboYzOYg9QgcfUIzSJYu1kZFW5h006BxHBZSG';
{% endif %}

const stripe = Stripe(window.STRIPE_PUBLIC_KEY);

function purchaseCredits(btn, special_deal=false) {

	if (!window.is_auth) {
		window.location.href = "/login";
		return;
	}

    const creditAmount = btn.getAttribute("data-credit-amount");
    let price = creditAmount / 1000;

    if (special_deal) {
      	price = price / 2;
    }

    if (document.getElementById("buy-2000-credits")) {
    	document.getElementById("buy-2000-credits").disabled = true;
    }
    document.getElementById("buy-5000-credits").disabled = true;
    document.getElementById("buy-10000-credits").disabled = true;
    document.getElementById("buy-20000-credits").disabled = true;
    document.getElementById("buy-50000-credits").disabled = true;

    fetch('/api/create-checkout-session', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': window.csrf_token
        },
        credentials: 'include',
        body: JSON.stringify({ creditAmount: creditAmount, price: price }),
    })
    .then(response => response.json())
    .then(session => {
        return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
</script>
{% endblock %}
