{% extends "base.html" %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center">
    <div style="width: 100%;">
    	{% include "subtemplates/_sub_navbar.html" %}
        <div id="table-container">
            <div id="checking-queries-table-container"></div>
            <div id="checking-lead-sources-table-container"></div>
            <div id="checking-leads-table-container"></div>
        </div>
    </div>
</div>

<script src="/static/js/view_jobs_script.js?last_updated={{ last_updated }}" type="module"></script>
{% endblock %}
