{% extends "base.html" %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center">
    <div style="width: 100%;">
     	{% include "subtemplates/_sub_navbar.html" %}
        <div id="table-container">
            <div id="checked-leads-table-container"></div>
            <div id="unchecked-leads-table-container"></div>
            <div id="all-leads-table-container"></div>
            <div id="hidden-leads-table-container"></div>
        </div>
    </div>
</div>

<script src="/static/js/view_leads_script.js?last_updated={{ last_updated }}" type="module"></script>
{% endblock %}
