{% extends "base.html" %}
{% block content %}
{% include "subtemplates/_sub_navbar.html" %}
<div class="container mt-5">
	<div class="loading-icon-container">
		<img class="loading-icon" src="/static/assets/chunk-loader.svg">
	</div>
</div>
<input type="hidden" id="query-id" value="{{ query.id }}">
<script src="/static/js/socket.js?last_updated={{ last_updated }}" type="module"></script>
<script src="/static/js/view_query_script.js?last_updated={{ last_updated }}" type="module"></script>
{% endblock %}
